<launch>


       <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find sac)/config/shadow_tc_openai_qlearn_params.yaml" />
    <include file="$(find ur5e_2FG7_gazebo)/launch/ur5e_2FG7_bringup_moveit.launch">
      <arg name="is_rviz_on" value="false"/>
      <arg name="planner" value="ochomp"/>
    </include>
    <node name="sac_tester" pkg="sac" type="sac_tester" output="screen" />



   <!-- <node name="depth_features" pkg="ur5e_perception" type="depth_features" />
   <node name="color_features" pkg="ur5e_perception" type="color_features" /> -->
    


</launch>